@model OLSoftwareSAS.Models.Clientes

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detailles</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_Documento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cli_ID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
